* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #548687;
  text-align: center;
}

.page-head {
  position: fixed;
  top: 0;
  padding: 5px 0;
  width: 100%;
  background-color: #548687;
}

#game-page, .msg-container {
  margin-top: 15vmin;
}

main {
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1.5rem;
  border: none;
  background-color: #ffffc7;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
}

#reset-btn {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}

#reset-btn:hover {
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
}

.msg-container {
  height: 100vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vmin;
}

#msg {
  color: #ffffc7;
}

#new-game-btn,
#show-game {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}

#show-game {
    padding-bottom: 0.25rem;
}

#show-game a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.winning-line {
  color: rgb(20, 160, 20) !important;
  background-color: #ccffc7 !important;
}

.draw-game {
  color: red !important;
  background-color: #ffccc7 !important;
}