@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
    border: 1px solid #717377;
    border-radius: 16px;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
    border: none;
    width: 320px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: right;
    background-color: transparent;
    box-shadow: 0px 3px 7px rgba(84, 84, 84, 0.75);
    font-size: 40px;
    cursor: pointer;
    color: white;
    outline: none;
}

input::placeholder{
    color: #ffffff;
}

input:focus {
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.75);
}

button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(84, 84, 84, 0.5);
    font-size: 20px;
    color: white;
}

button:active {
    opacity: 0.3;
    box-shadow: -4px -4px 7px rgba(84, 84, 84, 0.5);
}

.equal-btn {
    background-color: orange;
}

.operation-btn {
    color: #6dee0a;
}

.wrong-input {
    animation: wrong-in 1s ease-in-out 1;
}

.toast {
    width: 360px;
    padding: 5px;
    position: fixed;
    border-radius: 8px;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 0, 0, 0.75);
    background-color: rgba(255, 0, 0, 0.25);
}

.hide {
    display: none;
}

@keyframes wrong-in {
    0% {
        background-color: transparent;
    }
    25% {
        background-color: rgba(255, 0, 0, 0.3);
    }
    100% {
        background-color: transparent;
    }
}