* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    
}

.main-container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 40vh;
    min-height: 45vh;
}

h2 {
    text-align: center;
}

form {
    margin: 2rem 0 1rem 0;
}

form select, button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
}

.exchange-menu {
    margin-top: 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exchange-menu i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-container img {
    max-width: 2rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    text-align: center;
    margin: 1rem 0;
}

form button {
    height: 3rem;
    font-size: 1.25rem;
    background-color: #af4d9a;
    color: white;
    cursor: pointer;
}