@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

* {
margin: 0;
padding: 0;
}

body {
    background-color: antiquewhite;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    height: 65px;
}

nav ul li {
    list-style: none;
    margin: 0 12px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    padding: 0 10px;
}

.container {
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'varela round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 35px;
    background-image: url('./resources/bg.jpg');
    background-size: cover;
}

.songList {
    width: 50%;
    max-width: 50%;
}

.songItemContainer {
    margin-top: 50px;
}

.songItem {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: white;
    color: black;
    margin: 12px 0;
    padding: 0 20px;
    border-radius: 10px;
}

.songItem img {
    width: 45px;
    border-radius: 50%;
}

.timestamp {
    display: flex;
}

.timestamp i {
    margin: 0 3px;
    cursor: pointer;
    font-size: 1.3rem;
}

.bottom {
    height: 130px;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myProgressBar {
    width: 80vw;
}

.icons {
    margin-top: 15px;
}

.icons i {
    cursor: pointer;
    margin: 0 2px;
}

.songInfo {
    font-family: 'varela round', sans-serif;
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}